* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* DEBUGGING */
  border: 1px solid red;
}

h1 {
  margin-top: 10px;
}

div.container {
  margin: 20px auto 0;
  width: 500px;
  border: 2px solid gray;
}

div#displayContainer {
  height: 150px;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

div#displayText {
  font-size: 4rem;
}

div.column {
  margin: 10px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

div.row {
  font-size:4rem;
  padding: 10px 35px;
  border-radius: 50%;
  border: 1px solid gray;
  width: 115px;
  height: 115px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

div.row:hover {
  background-color: rgb(190, 190, 190);
  color: rgb(255, 255, 255);
}

div.row:active {
  background-color: black;
} 